@import '~./reset.scss';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Open+Sans+Condensed:300,700);

body {
  font-family: 'Open Sans';
}

strong {
  font-weight: bold;
}

.condensed {
  font-family: 'Open Sans Condensed';
}